elpa
url/*
.DS_Store
local.el
*.elc
private.el
*CVS*
.cvsignore
session.*
.org-id-locations
org-clock-save.el
org-clock-save.el
org-clock-save.el.orig
swank
/auto-save-list/.saves-6370-snamellit~
/snamellit/markdown.el~
var
eshell
org-clock-save*
bookmarks
*.*~
snamellit/repl-port
tramp.mc-lists.el
ac-comphist.dat
request
.mc-lists.el
TAGS
snamellit.el
*.notes
projectile-bookmarks.eld
/snamellit.pdf
/snamellit.tex
/snamellit.aux
/snamellit.out
/snamellit.toc
/.python-environments/default/.Python
.python-environments
tramp
recentf
